    window-rule {
        geometry-corner-radius 2 // Set every window radius to 20
        clip-to-geometry true
    }

    // Steam Window Settings
    window-rule {
        match app-id="steam"
        exclude title=r#"^[Ss]team$"#
        open-floating true
    }
	
    window-rule {
       match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
       default-floating-position x=10 y=10 relative-to="bottom-right"
       open-focused false
    }

    window-rule {
	match app-id="steam"
	open-maximized true
    }
    // Wallpaper Rule
    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }

    // Ghostty
    window-rule {
	match app-id="ghostty"
	background-effect {
		blur true
	}
    }

    // Discord
    window-rule {
	match app-id="discord"
	open-on-output "DP-1"
	open-maximized true
    }

    // Hide borders for small floating art windows
    window-rule {
	match app-id="steam_app_1284210" // GW2 Launcher
	match app-id="steam_app_306130"  // ESO Launcher
	focus-ring {
           off
    	}
    }

    // Open Runescape in fullscreen
    window-rule {
	match app-id="steam_app_1374490"
	open-fullscreen true
    }
    
    window-rule {
	match app-id="zen"
	open-maximized true
    }
